<div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper" style="margin-top: 18%;">
    <div class="sidebar-content">
      <div class="sidebar-menu">
        <ul *ngFor="let a of sidebarNames">
          <li class="">
            <a (click)="navigate(a.name)">
              <i class={{a.icon}}></i>
              <span>{{a.name}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main class="page-content">
    <!-- Routing for particular page -->
    <router-outlet (activate)="navigate($event)"></router-outlet>
    
  </main>
</div>