.heightWidth{
    height: 100%;
    width: 30%;
    margin-top: 7%;
}
body { overflow-x: hidden !important; }
// overflow-x: hidden; //horizontal
.sidebar{
    background-color: white;
    color: black;
    font-style: initial;
    font-size: initial;
    font-weight: 500;
}
.list-group-item {
    position: relative !important;
    display: block !important;
    padding: .75rem 1.25rem !important;
    margin-bottom: -1px !important;
    background-color: #fff !important;
    /* border: 1px solid rgba(0,0,0,.125); */
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    /* border: 1px solid rgba(0,0,0,.125); */
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    /* border: 1px solid rgba(0,0,0,.125); */
}
.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    /* border: 1px solid rgba(0,0,0,.125); */
}


