<div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card" style="padding-bottom: 33px;">
          <div class="card-body">
            <div class="row">
              <h5 class="mr-auto">Updates</h5>
              <h6>Total Updates 6</h6>
            </div>
          </div>
          <div class="row" style="margin-left: 10px;">
            <div class="card col-lg-2 plugin">
              <div class="addClass">4 Plugins</div>
            </div>
            <div class="card col-lg-2 themed">
              <div class="addClass">2 Themes</div>
            </div>
            <div class="card col-lg-2 wordpress">
              <div class="addClass">1 WordPress</div>
            </div>
          </div>
  
  
          <div class="row" style="padding-left: 14px;padding-right: 25px;font-size: small;">
            <div class="col-sm-2">
              <i class="fa fa-plug plug" aria-hidden="true"></i>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <h5 class="mr-auto">Gravity Forms</h5>
                <span>Version: 2.4.20</span>
              </div>
              <span>Easily create web forms and manage form entries within the wordpress admin.</span><br>
              <div class="row" style="border: 1px solid #edeadf;background-color: #fffdf3;">
                <div class="col-sm-1" style="border-left: 3px solid #f5bd32;">
                  <i class="fas fa-sync sync"></i>
                </div>
                <div class="col-sm-10">
                  There is new version of gravity forms available new version 2.4.22 or update now.
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row" style="padding-left: 14px;padding-right: 25px;font-size: small;">
            <div class="col-sm-2">
              <i class="fa fa-plug plug" aria-hidden="true"></i>
            </div>
            <div class="col-sm-10">
              <div class="row">
                <h5 class="mr-auto">MainWP Child</h5>
                <span>Version: 2.4.20</span>
              </div>
              <span>Easily create web forms and manage form entries within the wordpress admin.</span><br>
              <div class="row" style="border: 1px solid #edeadf;background-color: #fffdf3;">
                <div class="col-sm-1" style="border-left: 3px solid #f5bd32;">
                  <i class="fas fa-sync sync"></i>
                </div>
                <div class="col-sm-10">
                  There is new version of gravity forms available new version 2.4.22 or update now.
                </div>
              </div>
            </div>
            <br>
            <div>
              <a href="#" class="card-link">View All >></a><br><br>
            </div>
  
          </div>
  
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <li class="list-group-item">Site Info</li>
          <table class="table tablecss">
            <thead>
              <tr>
                <th>Title</th>
                <th>Details</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of array">
                <td>{{a.title}}</td>
                <td>{{a.details}}</td>
              </tr>
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
    <br>
    <div class="col-sm-12" style="padding-left: 1px;padding-right: 1px;">
      <div class="card">
        <li class="list-group-item">Recent Posts</li>
  
        <table class="table tablecss">
          <thead>
            <tr>
              <th>Title</th>
              <th>Category</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of recentPost">
              <td>{{a.title}}</td>
              <td>{{a.category}}</td>
              <td>{{a.date}}</td>
              <td><button type="button" class="btn btn-primary btn-sm" (click)="editrecentPost()"><i
                    class="fas fa-pencil-alt"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="col-sm-12" style="padding-left: 1px;padding-right: 1px;">
      <div class="card">
        <li class="list-group-item">Recent Pages</li>
  
        <table class="table tablecss">
          <thead>
            <tr>
              <th>Title</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let a of recentPages">
              <td>{{a.title}}</td>
              <td>{{a.date}}</td>
              <td><button type="button" class="btn btn-primary btn-sm" (click)="editrecentPages()"><i
                    class="fas fa-pencil-alt"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  