.background-color{
    background-color:  #458afb;
 }
 .navbar-light .navbar-nav .nav-link {
     color: #f3eded;
     font-style: initial;
 }
 body { min-width: 1167px; }
 h6{
    margin-left: 3%;
    font-size: unset;
    margin-top: 1%;
    /* color: aqua; */
    color: #989d9f;
    font-style: initial;
 }
 .preview{
    background-color: #c6342a;
    color: #f3eded;
 }
 .admin{
    background-color: #458afb;
    color: #f3eded; 
 }
 button{
     padding: 7px;
 }