<nav class="navbar navbar-expand-lg navbar-light background-color">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <img src="assets/pagee11.jpg" style="width: 12vw;" />
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Available Themes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          Website List
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Manage Orders</a>
      </li>
    </ul>
    <div style="font-size: xx-large;" (click)="signIn()"><i class="fa fa-user-circle"></i>
    </div>
  </div>
</nav>
<h6><i class="fa fa-home" aria-hidden="true"></i>Dashboard / Website Overview</h6>
<hr>
<span style="display: inline-block;">
  <div class="d-flex justify-content-center" style="margin-left: 440px;"><i class="fas fa-globe"></i>
    &nbsp;&nbsp;{{emailId}}</div>
</span>
<button type="button" class="btn btn-sm preview mr-2 float-right" (click)="preview()">
  <i class="fas fa-eye"></i>

  Preview</button>
<button type="button" class="btn btn-sm admin mr-2 float-right" (click)="publish()">
  <i class='far fa-arrow-alt-circle-up'></i>

  Publish</button>
<button type="button" class="btn btn-sm admin mr-2 float-right" (click)="webAdmin()">
  <i class='fas fa-upload'></i>

  Web Admin</button>
<hr>